@CHARSET "UTF-8";

 
 
#wrap{
	width:971px;
	margin:0;
	margin-left:auto;
	margin-right:auto;
	
}

h1{
	coloar:green;
}
table{
	width:100%;
	border-collapse:collapse;
	font-size:12px;
	line-height:24px;
	
}

table td, th{
	border:#d3d3d3 solid 1px;
	padding:5px;
}

th{
	background:yellowgreen;
	width:120px;
}

img{
	width:220px;
	height:300px;
}
a{
	text-decoration:none;
	coloc:black;
}
a:HOVER{
	text-decoration:underline;
	color:green;
}

#find{
	text-align:center;
}
#find select{
	height:30px
}
#findText{
	display:inline-block;
	height:30px;
	width:20%;
}
#findButton{
	height:40px;
	padding:5px 5px;
	text-align:center;
	vertical-align: middle;
}
#boardComment{
	height:80px;
	width:80%;
	display:inline-block;
}
#boardButton{
	height:80px;
	padding:10px 10px;
	text-align:center;
	vertical-align: middle;
}
